@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color--white: #ffffff;
  --text-color--black: #000000;
  --bg--color--white: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  --bg--color--black: #222;
  --bg--color--gray: rgb(60, 60, 60);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color--white);
  background: var(--bg--color--black);
  background-repeat: no-repeat;
  background-size: cover;
}

.tictactoe {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 1fr;
  grid-template-areas:
    "header"
    "game"
    "players";
  padding: 40px 60px;
  overflow: hidden;
}

.main__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 2.2em;
  font-weight: 300;
  cursor: pointer;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2em;
}

.header__right button {
  padding: 12px 32px;
  text-align: center;
  border-radius: 6px;
  color: var(--bg--color--white);
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn__toggle {
  border-radius: 6px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  cursor: pointer;
  transition: 0.5s all ease;
  font-size: 1.4em;
  color: var(--bg--color--white);
}

.btn__reset,
.btn__toggle {
  background-color: var(--bg--color--gray);
  border: 1px solid #a6a6a65f;
}

.main__game {
  grid-area: game;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid__game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 450px;
  gap: 1.2em;
  padding: 40px;
}

.game__box {
  width: 120px;
  height: 120px;
  background-color: #222;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #a6a6a65f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.2em;
}

.main__players {
  grid-area: players;
  margin: 0 auto;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.2em;
  background-color: #48e;
  width: 110px;
  border-radius: 6px;
  cursor: default;
}

.winner {
  font-size: 2.3em;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .tictactoe {
    grid-template-rows: 75px 350px 65px;
    place-content: center;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .main__header {
    flex-direction: column;
  }

  .header__right {
    display: block;
  }

  .btn__toggle {
    display: none;
  }

  .main__game {
    margin-top: 15px;
  }

  .game__box {
    max-height: 60px;
    max-width: 60px;
    font-size: 3.2em;
  }

  .player {
    font-size: 2.6em;
    width: 80px;
    position: relative;
  }

  .winner {
    font-size: 1.4em;
  }
}
